
.override{
    background-color: #fff;
    margin-top: 40px;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.card1 p i{
    font-size: medium;
}
.card2{
    margin-left: 50px;
}
.card2 p i{
    font-size: medium;

}
.all{
    background-color: #fff;
    width: 100%;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}
#register{
    background-color: #fff;
    fill: #fff;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#register .r2{
    margin-left: 50px;
}
.section{
    background-color: #fff;
    width: 100%;
}
.events{
    background-color: #fff;
    fill: #fff;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; 
}




























